@import "variables.scss";

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background: $nav-bg-color;
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

// Text Colors
.text-primary {
  color: $brand-primary !important;
}

.text-third {
    color: $text-third;
}

.text-fourth {
    color: $text-fourth;
}

.text-fifth{
    color: $text-fifth;
}

.brand {
  font-size: 30px;
}

.help-link{
  font-size: 30px;
  color: $brand-primary;
}

.header-text, .question-text {
  font-size: 1.15rem;
  max-width: 31.25rem;
  font-weight: 400;
  padding: 0.625rem 0px;
  color: $text-default;
}

.page-container{
  text-align: center;
}

.error-msg {
    color: $error-color;
}

// Buttons
.jumbo-btn{
  width: 200px;
  margin: 10px;
}

// Icon Styling
.product-icon {
  font-size: 120px;
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
}


.align-center {
  margin: 0 auto;
  text-align: center;
}

#toast-container {
  margin-top: 1rem;
}

#toast-container.toast-top-full-width>.toast {
  max-width: 570px;
}

#toast-container>.toast-success {
  background-color: $brand-primary;
  opacity:1;
  box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

#toast-container>.toast-success:hover {
  background-color: $brand-primary;
  opacity:1;
  box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}

.question-row {
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid grey;
}

.error-toggle .react-toggle-track{
  background-color: red;
}

.coverage-row{
  border: 1px solid grey;
}

.navbar .label {
  color: white;
}